@using Timesheets.Models
@if (Item is not null)
{
    <tr>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 10ch">@Item.Date.ToShortDateString()</td>
        <td class="bordered text-center fw-bold @CssClass" style="width: 5ch">@Item.Date.ToString("ddd")</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <TimeEntry @bind-TextValue="Item.Start1Text" @bind-DecimalValue="Item.Start1" Updated="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <TimeEntry @bind-TextValue="Item.End1Text" @bind-DecimalValue="Item.End1" Updated="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@GetAmTotal()</td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <TimeEntry @bind-TextValue="Item.Start2Text" @bind-DecimalValue="Item.Start2" Updated="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <TimeEntry @bind-TextValue="Item.End2Text" @bind-DecimalValue="Item.End2" Updated="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@GetPmTotal()</td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <InputText @bind-Value="Item.Reason" @bind-Value:after="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass" style="width: 7ch">
            <TimeEntry @bind-TextValue="Item.OtherText" @bind-DecimalValue="Item.Other" Updated="TextChanged" />
        </td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass">
            <InputCheckbox @bind-Value=@Item.Holiday @bind-Value:after="TextChanged" />
        </td>
        <td class="bordered text-center @CssClass">
            <InputCheckbox @bind-Value=@Item.InOffice @bind-Value:after="TextChanged" />
        </td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@TimeHelper.FormatTime(Item.DailyTotal)</td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@TimeHelper.FormatTime(Item.CumulativeHours)</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@TimeHelper.FormatTime(Item.CumulativeTotal)</td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
        <td class="bordered text-center @CssClass" style="width: 7ch">@Item.DailyTotal.ToString("f2")</td>
        <td class="shaded heavy-left heavy-right" style="width: 2ch">&nbsp;</td>
    </tr>
}


